# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# PostgreSQL database dumps
*.pgsql
*.sql

# VSCode settings
.vscode/

# Environment variables
# .env

# Virtual environments
.venv/
venv/


# OS files
.DS_Store
Thumbs.db

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Other
*.swp
*.swo
*~